In [24]:
import pandas as pd

df = pd.read_csv('shoreline.csv')
df

       Unnamed: 0   price            timestamp       name
0               0   88888  2021-12-14 08:18:00        213
1               1   90000  2021-12-14 08:18:00        213
2               2   99999  2021-12-14 08:18:00        213
3               3  100000  2021-12-14 08:18:00        213
4               4  155555  2021-12-14 08:18:00        213
...           ...     ...                  ...        ...
95849       95849  600000  2022-01-03 19:14:50  blue tape
95850       95850  615000  2022-01-03 19:14:50  blue tape
95851       95851  630000  2022-01-03 19:14:50  blue tape
95852       95852  633333  2022-01-03 19:14:50  blue tape
95853       95853  640000  2022-01-03 19:14:50  blue tape

[95854 rows x 4 columns]

In [25]:
df['name'] = df['name'].str.replace('Health Resort ','')
df['name'] = df['name'].str.replace('west wing room ','')
df['name'] = df['name'].str.replace('east wing room ','')
df['name'] = df['name'].str.replace('west wing office room ','')
df['name'] = df['name'].str.replace('east wing office room ','')
df['name'] = df['name'].str.replace('universal ','')
df['name'] = df['name'].str.replace('west wing office room ','')
df['name'] = df['name'].str.replace('management ','')
df['name'] = df['name'].str.replace('office key with a ','')
df['name'] = df['name'].str.replace('east wing office room ','')
df['name'] = df['name'].str.replace(' key','')

df['name'].unique()

array(['213', '221', '104', '219', '108', '220', '206', '205', '322',
       '309', '321 safe', '222', '323', '328', '314', '301', '325', '207',
       '303', '209', 'utility room', '306', '203', '216', '218', '112',
       '310', '308', '313', 'warehouse safe', 'blue tape', '316',
       'office safe', '226', '107', 'Shoreline plan map'], dtype=object)